{
  "plugins": ["prettier-plugin-slidev"],
  "overrides": [
    {
      "files": ["slides.md", "segments/*.md"],
      "options": {
        "parser": "slidev",
        "embeddedLanguageFormatting": "off"
      }
    }
  ]
}
